---
layout: default
onepage: true
services:
  - title: Career Path Assessment
    icon: fa fa-bell-o
    desc: This service is designed to help fit possible cloud roles to an applicant based on their previous work background, work preferences and job opportunity locality. 
    bg: /assets/images/@stock/service-item-1-bg.jpg
  - title: Study Path Assessment
    icon: fa fa-lightbulb-o
    desc: This service is designed to help applicants determine a study path of both free and paid resources and estimate their study
    bg: /assets/images/@stock/service-item-2-bg.jpg
  - title: Cloud Project Coaching
    icon: fa fa-bookmark-o
    desc: This service is designed to help determine the scope of a cloud project to showcase learned cloud knowledge and provide course correction during the end-to-end process
    bg: /assets/images/@stock/service-item-3-bg.jpg
  - title: Resume and Social Audit
    icon: fa fa-heart-o
    desc: This service is designed to help applicants best market their cloud knowledge and accompanying cloud projects into one or multiple resume variants as well as to build their social pages eg. LinkedIn
    bg: /assets/images/@stock/service-item-4-bg.jpg
  - title: Mock Interview 
    icon: fa fa-flag-o
    desc: This service has you sit a mock interview with one or multiple cloud industry members to help prepare you for real interviews.
    bg: /assets/images/@stock/service-item-5-bg.jpg
  - title: Job Seeking Support
    icon: fa fa-comment-o
    desc: This service helps you identify how to search for roles and strategies on how to apply, and followup after you apply for retrospective an support
    bg: /assets/images/@stock/service-item-6-bg.jpg
works:
  - path: _works/diff-foods.md
  - path: _works/sketch-book.md 
  - path: _works/tv-video.md
    style: wide
  - path: _works/umbrella-beauty.md
  - path: _works/amber.md
  - path: _works/explore.md  
  - path: _works/uro-mag.md 
    style: wide
  - path: _works/flowers.md
members:
  - avatar: /assets/images/marino.png
    name: Marino Wijay
    position: Co-Founder, Coach
    socials:
      - link: http://twitter.com/virtualized6ix
        icon: twitter
    desc:
      "As the founder and CEO of Wrap, and as an interactions and visual design specialist, she knows that user- centred and easy-to-use design is an essential way to distinguish a good product and an awesome product."
  - avatar: /assets/images/wes.png
    name: Wes Kennedy
    position: Co-Founder, Coach
    socials:
      - link: http://twitter.com/wesdottoday
        icon: twitter
    desc:
      "Wes is a Technical Marketer and IT Infrastructure specialist. He currently works for NVIDIA as a Technical Marketing Engineer. He is passionate about helping people find their perfect fit in the Tech Industry."
  - avatar: /assets/images/antoni.png
    name: Antoni Tzavelas
    position: Co-Founder, Coach
    socials:
      - link: http://twitter.com/antoniscloud
        icon: twitter
    desc:
      "Clare is a senior front-end developer here at Wrap, specialises in building blocks of the web: HTML, CSS, and JavaScript. She has almost ten years experiencs in the front-end development."
  - avatar: /assets/images/andrew.png
    name: Andrew Brown
    position: Co-Founder, Educator
    socials:
      - link: http://twitter.com/andrewbrown
        icon: twitter
    desc:
      "Jone started designing web sites back in 1992. Since then, he has worked for a wide range of digital agencies in the UK and America. At Wrap, Jone’s role means solving all kinds of visual design problems."
advisors:  
  - avatar: /assets/images/rachel.png
    name: Rachel LeeKin
    position: Advisor
    socials:
      - link: http://twitter.com/Rachel_LeeKin
        icon: twitter
    desc:
      "Jone started designing web sites back in 1992. Since then, he has worked for a wide range of digital agencies in the UK and America. At Wrap, Jone’s role means solving all kinds of visual design problems."
  
team_slides:
  - /assets/images/@stock/slide-full-1.jpg
  - /assets/images/@stock/slide-full-8.jpg
  - /assets/images/@stock/slide-full-11.jpg
  - /assets/images/@stock/slide-full-10.jpg

testimonials:
  - quote: "Reprehenderit eos et non et ut eum reprehenderit quis sequi quia vel repellendus id. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est."
    author: 
      name: "David White"
      avatar: '/assets/images/@stock/author-avatar-1.png'
      position: 'Designer at Huglab'
  - quote: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing."
    author: 
      name: "David White"
      avatar: '/assets/images/@stock/author-avatar-2.png'
      position: 'Designer at Huglab'
  - quote: "Reprehenderit eos et non et ut eum reprehenderit quis sequi quia vel repellendus id. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est."
    author: 
      name: "David White"
      avatar: '/assets/images/@stock/author-avatar-3.png'
      position: 'Designer at Huglab'

clients:
  - /assets/images/@stock/client-1.png
  - /assets/images/@stock/client-2.png
  - /assets/images/@stock/client-3.png
  - /assets/images/@stock/client-4.png

  - /assets/images/@stock/client-5.png
  - /assets/images/@stock/client-6.png  
  - /assets/images/@stock/client-7.png    
  - /assets/images/@stock/client-2.png
  
  - /assets/images/@stock/client-3.png
  - /assets/images/@stock/client-4.png  
  - /assets/images/@stock/client-1.png   
  - /assets/images/@stock/client-6.png    
---

<div class='full no-padding parallax home-video-wrapper'>
  <div class='fullscreen'>
    <!-- <video autoplay='autoplay' id='fullscreen-video' loop='loop'>
      <source src='{{ "/assets/images/@stock/cover-video.optimized.mp4" | relative_url }}' type='video/mp4'>
    </video> -->
    <img src='{{ "/assets/images/nebula-background-1920.jpg" | relative_url }}' alt="nebula background">
    <div class='overlay'></div>
    <div class='layer'>
      <p class="small-title">Career services for a long-lasting career </p>
      <h1 class='thin' id="to-be-update">
         <span class="fir">Balanced.</span><br/>
         <span class="sec">Long Lasting.</span><br/>
         <span class="thir">Interesting.</span>
      </h1>
      <h2 class='thin'>
       We specialize in helping people build long lasting careers in tech. Whether you're new to tech, or a well seasoned Principal, we will help you get to where you want to be. 
       {% assign nav_obj = site.data.nav | where:'section_id','works' | first %}
      </h2>
    </div>
  </div>
</div>

<a id='services'></a>
<div class='full'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      <div class="section-title">
        <p class="small-title">main services</p>
        <h2>In it for the long haul.</h2>
        <p>Your career is not a single job, or even a single specialty. We can help you in any part of the journey which is your career.</p>
        <p>When you become a member of Cloud Borg, you become a part of a community. A community you can always turn to for help.</p>
      </div>
    </div>
  </div>
</div>
<div class='full no-overflow no-padding'>
  <div class='main-services'>
    {% for item in page.services %}
      <div class='medium-6 large-4 columns'>
        {% include service.html service=item %}
      </div>
    {% endfor %}
  </div>
</div>

<a id='about'></a>
<div class='full'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      <div class="section-title">
        <p class="small-title">We're Just Getting Started</p>
        <h2>
          We need you,  <br/> 
          Mentors and Mentees.
        </h2>
        <p class="big-size">We are looking for folks who are willing to help us build our program. Mentors who want to help us build our career progression programs. Mentees who need help with their careers and are willing to provide feedback on the process.</p>
        <div class="four spacing"></div>
        <img src="{{ "/assets/images/cloud-borg-logo-black-tiny-no-words.png" | relative_url }}" alt="">
      </div>
    </div>
    <div class="four spacing"></div>
  </div>
</div>

<a id='contact'></a>
{% include contact-form.html %}


<a id='team'></a>
<div class='full dark-grey'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="The team" title="This is us." %}
    </div>
  </div>
</div>
<div class="full dark-grey no-padding">
  <div class="members">
    {% for member in page.members %}
      <div class="small-3 columns">
        <div class='member-avatar'>
          <img class="avatar" alt="" src="{{ member.avatar | relative_url }}" />
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<div class="full no-padding team-bg">
  <div class="div member-decs">
    {% for member in page.members %}
      <div class="large-3 columns">
        <div class='member-dec'>
          <div class='intro'>
            <h3>{{ member.name | escape }}</h3>
            <h4>{{ member.position | escape }}</h4>
            <p>{{ member.desc | escape }}</p>
            <ul class='socials'>
              {% for social in member.socials %}
                <li>
                  <a href='{{ social.link }}'>
                    <i class='fa fa-{{ social.icon }}'></i>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="four spacing"></div>
</div>

<a id='advisors'></a>
<div class='full dark-grey'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="Our Adivsors" title="The wonderful people that keep us on track." %}
    </div>
  </div>
</div>
<div class="full dark-grey no-padding">
  <div class="members">
    {% for advisor in page.advisors %}
      <div class="small-3 columns">
        <div class='member-avatar'>
          <img class="avatar" alt="" src="{{ advisor.avatar | relative_url }}" />
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<div class="full no-padding team-bg">
  <div class="div member-decs">
    {% for advisor in page.advisors %}
      <div class="large-3 columns">
        <div class='member-dec'>
          <div class='intro'>
            <h3>{{ advisor.name | escape }}</h3>
            <h4>{{ advisor.position | escape }}</h4>
            <p>{{ advisor.desc | escape }}</p>
            <ul class='socials'>
              {% for social in advisor.socials %}
                <li>
                  <a href='{{ social.link }}'>
                    <i class='fa fa-{{ social.icon }}'></i>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="four spacing"></div>
</div>
<div class="four spacing"></div>
{% include social-networks.html %}